.update {
  // width: 18%;
  // height: 100vh;
  padding: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba($color-black, 0.5);
  color: white;

  @media only screen and (max-width: $rwd-large) {
    display: none;
  }
}
