.u-margin-b-medium {
  margin-bottom: 5rem;
}

.u-margin-b-small {
  margin-bottom: 2rem;
}

.u-img-left20 {
  position: absolute;
  left: -20%;
}

.u-font-size-16 {
  font-size: 1.6rem !important;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
}

.hidden--none {
  display: none;
}

.hidden--img {
  opacity: 0;
  visibility: hidden;
}

.hidden--others {
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
}
