.u-margin-b-medium {
  margin-bottom: 5rem;
}

.u-margin-b-small {
  margin-bottom: 2rem;
}

.hidden--add {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
