.u-margin-b-medium {
  margin-bottom: 5rem;
}

.u-margin-b-small {
  margin-bottom: 2rem;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  background-image: linear-gradient(to right bottom, rgba(128, 128, 128, 0.8), rgba(0, 0, 0, 0.8)), url("../img/bg.jpg");
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 114rem;
}

.typo__record-description {
  text-align: center;
}
.typo__record-description > *:not(:last-child) {
  margin: 0.8rem;
}
.typo__record-description--content {
  font-size: 3.6rem;
}

.btn__top-bar {
  box-shadow: 0 1rem 1rem black;
  border: 0.5rem solid black;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
  padding: 1rem;
  width: 50%;
  text-align: center;
  font-size: 2rem;
  color: white;
}
.btn__top-bar--add {
  margin: 3rem 0 0 0;
}
.btn__top-bar--fox {
  box-shadow: 0 1rem 1rem black;
  background-color: rgba(255, 0, 0, 0.5);
}
.btn__top-bar--active {
  transform: translateY(5px);
  border: 0.5rem solid black;
  background-color: rgba(0, 128, 0, 0.5);
  box-shadow: none;
}
.btn__top-bar:hover {
  cursor: pointer;
}
.btn__top-bar:active {
  transform: translateY(5px);
  border: 0.5rem solid black;
  box-shadow: none;
}
.btn--record {
  width: 60%;
  text-transform: uppercase;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
  border: 0.5rem solid black;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
  text-align: center;
  font-size: 2rem;
  color: white;
}
.btn--record:hover {
  cursor: pointer;
}
.btn--record:active {
  transform: translateY(2px);
  border: 0.5rem solid black;
  box-shadow: none;
}

.grid {
  max-width: 114rem;
  margin: 0 auto;
}

.row {
  width: 100%;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 10rem;
}
.row:not(:last-child) {
  margin-bottom: 10rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row .col-1-of-2 {
  width: calc((100% - 10rem * 1) / 2);
}
.row .col-1-of-3 {
  height: 100%;
  width: calc((100% - 10rem * 2) / 3);
}
.row .col-1-of-4 {
  width: calc((100% - 10rem * 3) / 4);
}
.row .col-2-of-3 {
  width: calc(((100% - 10rem * 2) / 3) * 2 + 10rem);
}
.row .col-2-of-4 {
  width: calc(((100% - 10rem * 3) / 4) * 2 + 10rem);
}
.row .col-3-of-4 {
  width: calc(((100% - 10rem * 3) / 4) * 3 + 10rem * 2);
}

.section-top-bar {
  width: 114rem;
}
.section-top-bar::after {
  content: "";
  display: table;
  clear: both;
}
.section-top-bar__add {
  width: 50%;
}
.section-top-bar__fox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.section-top-bar__fox--text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.section-top-bar__fox--terr {
  width: 7rem;
}
.section-top-bar__fox--pic {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10rem;
  width: 10rem;
  height: 10rem;
  box-shadow: 0 0 1rem white;
}

.section-list__character {
  margin: 1rem;
  padding: 0.2rem;
  width: 100%;
  border-top: 1px solid rgba(247, 247, 247, 0.3);
  border-bottom: 1px solid rgba(247, 247, 247, 0.3);
  text-align: left;
  transition: all 0.1s;
}
.section-list__character--icon {
  transform: translateY(25%);
}
.section-list__character--name {
  display: inline-block;
  margin: 1rem;
}
.section-list__character:hover {
  cursor: pointer;
  background-color: rgba(247, 247, 247, 0.2);
  transform: translateY(-10%);
  box-shadow: 0 1rem 5rem rgba(247, 247, 247, 0.2);
}
.section-list__character:active {
  transform: translateY(-5%);
  box-shadow: 0 0.5rem 2rem rgba(247, 247, 247, 0.2);
}
.section-list__character--active {
  background-color: rgba(247, 247, 247, 0.2);
}
.section-list__recordArea {
  height: 57.6rem;
}
.section-list__record {
  width: 100%;
  margin: 1rem auto;
  color: #f7f7f7;
  border-radius: 5px;
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0.5);
}
.section-list__record--raid {
  height: 56rem;
}
.section-list__record ul {
  height: 100%;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
.section-list__record ul li {
  flex: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}
.section-list__record--description {
  width: 50%;
}
.section-list__record--quest {
  transform: translateX(-10%);
}

.img__boss-shape {
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 10rem;
  width: 10rem;
  height: 10rem;
  box-shadow: 0 0 1rem white;
  position: relative;
}
.img__boss-shape:hover {
  cursor: pointer;
}
.img__boss-shape:hover .img__boss {
  filter: blur(0.3rem);
  transform: scale(0.95);
}
.img__boss-shape:hover .img__boss--name {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.img__boss-shape:active {
  box-shadow: 0 0 1rem red;
}
.img__boss-shape:active .img__boss--name {
  color: red;
}
.img__boss {
  height: 100%;
  background-size: contain;
  transition: all 0.2s;
}
.img__boss--field, .img__boss--isys, .img__boss--exile, .img__boss--oculus, .img__boss--panda {
  position: absolute;
  left: -20%;
}
.img__boss--isys {
  position: absolute;
  left: -20%;
}
.img__boss--sirocco {
  width: 100%;
  position: absolute;
  left: 0%;
}
.img__boss--bp {
  height: 100%;
  position: absolute;
  left: 10%;
}
.img__boss--name {
  transition: transform 0.4s;
  display: inline-block;
  position: absolute;
  text-transform: uppercase;
  font-size: 1.8rem;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, 50%);
  z-index: 100;
}

.add {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.add__container {
  flex: 20%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.8);
}
.add__container--imgbar {
  width: 90%;
  height: 9.5rem;
}
.add__outside {
  flex: 80%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.add form {
  text-align: center;
  width: 80%;
  margin: 2rem auto 0 auto;
  color: white;
  font-size: 1.6rem;
}
.add form > * {
  margin: 1.5rem 0;
}
.add form > input {
  max-width: 100%;
  height: 3rem;
}
.add form ul {
  transform: translateX(-5%);
  list-style: none;
}

/*# sourceMappingURL=style.css.map */
